body {

    background-color: rgb(220, 217, 245);
    
    }

    body {
        font-family: Garamond, serif;}
h1 {
    font-family: Garamond, serif;}
h1 {
    border-block-end-style: solid;
    border-block-end-color: rgb(235, 236, 248);}
body {
    letter-spacing: 3px;}
    p {
        margin-top: 25px;
        margin-bottom: 10px;
        margin-right: 70px;
        margin-left: 40px;
      }
h2 {
    margin-top: 25px;
    margin-bottom: 10px;
    margin-right: 500px;
    margin-left: 40px;
  }
  
h3 {
    margin-top: 25px;
    margin-bottom: 10px;
    margin-right: 70px;
    margin-left: 40px;
  }
table {
    margin-top: 25px;
    margin-bottom: 10px;
    margin-right: 500px;
    margin-left: 500px;
  }

h1 {
    margin-top: 50px;
    margin-bottom: 25px;
    margin-right: 50px;
    margin-left: 1000px;
  }
figcaption p {
    margin-top: 50px;
    margin-bottom: 25px;
    margin-right: 50px;
    margin-left: 40px;
  }
h3 {
    border: 2px solid rgb(0, 0, 0);
    outline: #eeeaf1 solid 5px;
    margin: auto;  
    padding: 10px;
    text-align: center;
  }
 a{
    position: absolute; Left: 40%;}